<div class="content">
<div id="page_content" class="mercury-region" data-mercury="full">
  <%= raw @resume.content %>
</div>
</div>

<form style="position:relative; left: 50%;" class="no-print">
	<input type="button" value="Print this page" onClick="window.print()">
</form>